<mat-form-field class="d-none">
  <input hidden matInput autocomplete="off" [matDatepicker]="picker" [(ngModel)]="date">
</mat-form-field>
<mat-datepicker touchUi #picker (monthSelected)="setDate($event)"
                startView="multi-year" panelClass="month-picker">
</mat-datepicker>

<div class="d-flex justify-content-center align-items-center gap-3 date-picker">
  <button matIconButton class="position-fixed left">
    <mat-icon class="material-symbols-rounded" (click)="prevMonth()">arrow_back</mat-icon>
  </button>
  <button matButton="tonal" class="text-capitalize" (click)="picker.open()">
    {{ date() | date: 'MMMM yyyy' }}
  </button>
  <button matIconButton class="position-fixed right">
    <mat-icon class="material-symbols-rounded" (click)="nextMonth()">arrow_forward</mat-icon>
  </button>
</div>

<h1 class="text-capitalize fw-bold mb-4">Transacciones</h1>
<div class="month-label-wrapper mb-3 w-100">
  <div class="d-flex justify-content-center gap-2 child-wrapper">
    <mat-icon class="material-symbols-rounded">today</mat-icon>
    <h5 class="fw-bold"><span class=" fw-bold text-capitalize">{{ date() | date: 'MMMM' }}</span>
      de {{ date() | date: 'y' }}
    </h5>
  </div>
</div>
<div class="pb-5 mb-4 d-flex flex-column gap-3">
  @if (monthTransactions().length) {
    @for (day of Object.keys(transactionsPerDay()).reverse(); track day) {
      <mat-card appearance="filled" class="content-wrapper mb-2">
        <mat-card-content>
          <div class="subtitle">
            <span class="icon">{{ day }}</span>
            <h5 class="text">{{ getDateByDay(day) | date: 'EEEE' }}</h5>
          </div>
          <div class="items-container sm">
            @for (transaction of transactionsPerDay()[day]; track transaction.id) {
              <app-transaction [transaction]="transaction"/>
            }
          </div>
        </mat-card-content>
      </mat-card>
    }
  } @else {
    <div class="d-flex w-100 flex-column gap-3 pt-3 text-center">
      <span>Nada por acá. (·_·)</span>
      <span>Toca en el botón de + para empezar a registrar transacciones.</span>
    </div>
  }
</div>
