@use '../../../shared/styles/colors';
@use '../../../shared/styles/variables';

.day-wrapper {
  .number {
    background-color: var(--mat-sys-primary);
    color: var(--mat-sys-on-primary);
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .text {
    background-color: var(--mat-sys-secondary-container);
    color: var(--mat-sys-on-secondary-container);
    padding: 3px 6px;
    border-radius: 4px;
  }
}

.date-picker {
  position: fixed;
  bottom: variables.$navbar-height;
  left: 0;
  width: 100dvw;
  padding: 1rem 1rem 0.5rem 1rem;
  background-color: var(--mat-sys-surface-container);
  z-index: 500;

  .left {
    left: 4rem;
  }

  .right {
    right: 4rem;
  }
}

app-transaction {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: -1.2rem;
    left: 14px;
    height: 1.4rem;
    width: 4px;
    background-color: colors.$progress-gray;
    z-index: -1;
  }
}
