@use '../../../shared/styles/variables';

.date-picker {
  position: fixed;
  bottom: variables.$navbar-height;
  left: 0;
  width: 100dvw;
  padding: 1rem 1rem 0.5rem 1rem;
  background-color: var(--mat-sys-surface-container);
  z-index: 500;

  .left {
    left: 4rem;
  }

  .right {
    right: 4rem;
  }
}

app-transaction {
  width: 100%;
}

.month-label-wrapper {
  background-color: var(--mat-sys-surface-container-highest);
  padding: 0.5rem;
  padding-right: 0.75rem;
  border-radius: 0.75rem;

  mat-icon {
    display: flex;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    background-color: var(--mat-sys-primary);
    color: var(--mat-sys-on-primary);
    border-radius: 0.5rem;
  }
}

mat-card.content-wrapper .subtitle .icon {
  background-color: var(--mat-sys-surface-container);
  color: var(--mat-sys-on-surface);
}