@use '../../../shared/styles/colors';

.negative {
  color: colors.$red;
}

.positive {
  color: colors.$green;
}

i.bi-arrow-clockwise {
  font-size: 1.5rem;
  padding-bottom: 0.75rem;
}

.balance-wrapper {
  width: 100%;
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
