<div class="modal fade" #modal data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header px-3 justify-content-center">
        <h3 class="modal-title">{{ title() }}</h3>
      </div>
      @if (description()) {
        <div class="modal-body px-3 pt-0 pb-2 text-center">
          <span>{{ description() }}</span>
        </div>
      }
      <div class="modal-footer d-flex">
        <button type="button" class="btn btn-outline-light flex-grow-1" (click)="close()">Cancelar</button>
        <button type="button" class="btn btn-light flex-grow-1" (click)="close(true)">Ok</button>
      </div>
    </div>
  </div>
</div>
