@use '../../styles/colors';

input {
  border: none;
  background-color: transparent;
  width: 100%;
  text-align: center;

  &:focus, &:active, &:hover {
    border: none;
    outline: none;
  }
}

.input-wrapper {
  background-color: colors.$black-04;
  border-radius: 8px;
}
