input {
  border: none;
  background-color: transparent;
  width: 100%;
  text-align: center;
  color: var(--mat-sys-on-surface-variant);

  &:focus, &:active, &:hover {
    border: none;
    outline: none;
  }
}

.input-wrapper {
  background-color: var(--mat-sys-surface-container-highest);
  border-radius: 8px;
}
