<h1 class="fw-bold text-start w-100 px-2 mb-3">Presupuestos</h1>
<mat-card appearance="filled" class="content-wrapper w-100">
  <mat-card-content>
    <div class="items-container">
      @for (type of Object.keys(AccountType); track type) {
        @if (!isNaN(Number(type)) && (Number(type) !== AccountType.Deleted) && Number(type) !== AccountType.Debt) {
          <form [formGroup]="$any(form.controls.budgets.get(type)!)" class="d-flex w-100 flex-column gap-3">
            <div class="d-flex gap-2 align-items-center justify-content-between">
              <div class="d-flex gap-2 align-items-center">
                <mat-icon class="material-symbols-rounded">{{ getAccountTypeIcon(Number(type)) }}</mat-icon>
                <span>{{ getAccountTypeLabel(Number(type)) }}</span>
              </div>
              <mat-slide-toggle formControlName="enabled"
                                (change)="onToggleChange(type, $event.checked)"></mat-slide-toggle>
            </div>
            @if (form.get(['budgets', type, 'enabled'])!.value) {
              <mat-form-field>
                <mat-label>Presupuesto mensual</mat-label>
                <input autocomplete="off" matInput placeholder="1.500.000" formControlName="amount" mask="separator.0"
                       thousandSeparator="." inputmode="numeric" pattern="[0-9]*">
                <mat-icon class="material-symbols-rounded" matPrefix>attach_money</mat-icon>
              </mat-form-field>
            }
          </form>
        }
      }
    </div>
  </mat-card-content>
</mat-card>
<div class="d-flex flex-column gap-2 w-100 mt-3">
  <button matButton="filled" [disabled]="!form.valid || form.pristine" (click)="save()">Guardar</button>
  <button matButton="tonal" (click)="cancel()">Cancelar</button>
</div>
