.container {
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
}


form {
  background-color: var(--mat-sys-surface-container-high);
  padding: 1.25rem 1rem 1rem 1rem;
  border-radius: 1rem;
}

.start-day-of-month-container {
  mat-form-field {
    width: 11rem;
  }
}
