<nav class="mat-bg-surface-container">
  @for (item of leftSideItems(); track item) {
    <a matButton [routerLink]="item.route" routerLinkActive="active">
      <mat-icon class="material-symbols-rounded">{{ item.icon }}</mat-icon>
    </a>
  }
  <button matButton="filled" class="create-button" (click)="onCreateClick()">
    <mat-icon class="material-symbols-rounded">add</mat-icon>
  </button>
  @for (item of rightSideItems(); track item) {
    <a matButton [routerLink]="item.route" routerLinkActive="active">
      <mat-icon class="material-symbols-rounded">{{ item.icon }}</mat-icon>
    </a>
  }
</nav>
