@use '../../styles/colors';
@use '../../styles/variables';

nav {
  background-color: colors.$black-1;
  width: 100dvw;
  height: variables.$navbar-height;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  padding-top: 8px;

  a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
    border-radius: 12px;
    color: inherit;
    text-decoration: inherit;
    height: 70px;

    &.active {
      background-color: colors.$black-2;
    }

    i {
      font-size: 1.5rem;
    }
  }
}
