@use '../../styles/colors';

nav {
  background-color: colors.$black-1;
  width: 100dvw;
  height: 100px;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  div {
    background-color: colors.$black-2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 8px 12px;
    border-radius: 8px;
    i {
      font-size: 1.5rem;
    }
  }
}
