@use '../../styles/colors';
@use '../../styles/variables';

nav {
  background-color: colors.$black-1;
  width: 100dvw;
  height: variables.$navbar-height;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 16px;
  padding-inline: 16px;
  box-shadow: rgba(0, 0, 0, 0.9) 0 20px 80px;

  a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 12px;
    border-radius: 16px;
    color: inherit;
    text-decoration: inherit;

    &.active {
      background-color: colors.$black-2;
    }

    i {
      font-size: 1.5rem;
    }
  }

  .create-button {
    width: 56px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: colors.$white-0;
    color: colors.$black-1;
    border-radius: 18px;
    font-size: 2rem;
  }
}
