@use '../../styles/variables';

nav {
  background-color: var(--mat-sys-surface-container);
  width: 100dvw;
  height: variables.$navbar-height;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 16px;
  padding-inline: 16px;
  z-index: 500;

  a {
    --width: 48px;
    --height: 48px;
    width: var(--width);
    max-width: var(--width);
    min-width: auto;
    height: var(--height);
    max-height: var(--height);
    min-height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: calc(100% / 3);
    color: var(--mat-sys-on-surface-variant);
    text-decoration: inherit;

    &.active {
      background-color: var(--mat-sys-secondary-container);
      color: var(--mat-sys-on-secondary-container);
    }

    i {
      font-size: 1.5rem;
    }
  }

  .create-button {
    --width: 56px;
    --height: 56px;
    width: var(--width);
    max-width: var(--width);
    min-width: auto;
    height: var(--height);
    max-height: var(--height);
    min-height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: calc(100% / 3);
    font-size: 2rem;
  }
}
