<nav class="mat-bg-surface-container">
  @for (item of leftSideItems(); track item) {
    <a matButton [routerLink]="item.route" routerLinkActive="active">
      <i class="d-flex bi" [ngClass]="item.icon"></i>
    </a>
  }
  <button matButton="filled" class="create-button" (click)="onCreateClick()">
    <i class="bi bi-plus d-flex"></i>
  </button>
  @for (item of rightSideItems(); track item) {
    <a matButton [routerLink]="item.route" routerLinkActive="active">
      <i class="d-flex bi" [ngClass]="item.icon"></i>
    </a>
  }
</nav>
