<nav>
  @for (item of leftSideItems(); track item) {
    <a [routerLink]="item.route" routerLinkActive="active">
      <i class="d-flex bi" [ngClass]="item.icon"></i>
    </a>
  }
  <button type="button" class="btn btn-light create-button" (click)="createButtonClicked.emit()">
    <i class="bi bi-plus d-flex"></i>
  </button>
  @for (item of rightSideItems(); track item) {
    <a [routerLink]="item.route" routerLinkActive="active">
      <i class="d-flex bi" [ngClass]="item.icon"></i>
    </a>
  }
</nav>
