@if (newVersionAvailable()) {
  <div class="new-version-banner" animate.enter="enter-animation" animate.leave="leave-animation">
    <div class="d-flex align-items-center gap-2">
      <mat-icon class="material-symbols-rounded">system_update_alt</mat-icon>
      Nueva version disponible
    </div>
    <button matButton (click)="reload()">Actualizar</button>
  </div>
}
<mat-drawer-container hasBackdrop>
  <mat-drawer mode="over" [autoFocus]="false">
    <app-side-panel/>
  </mat-drawer>
  <mat-drawer-content>
    <div class="container" id="scrollContainer">
      @if (auth.getLoggedUser()) {
        <app-profile-picture
          radius="50%"
          [size]="40"
          (click)="openSidePanel()"/>
      }
      <div class="router-outlet-container">
        <router-outlet/>
      </div>
    </div>
    @if (auth.getLoggedUser()) {
      <app-navbar [items]="NAVBAR_ITEMS" (createButtonClicked)="onCreateButtonClick()"/>
    }
  </mat-drawer-content>
</mat-drawer-container>

