@use './shared/styles/variables';

.container {
  height: 100%;
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

app-profile-picture {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

mat-drawer-container {
  --mat-sidenav-container-shape: 0px;
  height: 100%;
  overflow: hidden !important;
}

mat-drawer-content {
  overflow: hidden !important;
}

.router-outlet-container {
  margin-top: -1rem;
}
