/*$black-0: #161616;
$black-1: #1e1e1e;
$black-2: #3c3c3c;
$black-3: #4d4d4d;
$black-5: #5e5e5e;
$black-6: #6f6f6f;

$white-0: #ffffff;
$white-1: #e0e0e0;
$white-2: #cfcfcf;
$white-3: #b3b3b3;
$white-4: #a2a2a2;*/


$black-00: #161616;
$black-01: #1e1e1e;
$black-02: #272727;
$black-03: #2f2f2f;
$black-04: #373737;
$black-05: #404040;
$black-06: #484848;
$black-07: #505050;
$black-08: #595959;
$black-09: #616161;
$black-10: #696969;

$white-00: #ffffff;
$white-01: #f1f1f1;
$white-02: #e3e3e3;
$white-03: #d5d5d5;
$white-04: #c7c7c7;
$white-05: #b9b9b9;
$white-06: #aaaaaa;
$white-07: #9c9c9c;
$white-08: #8e8e8e;
$white-09: #808080;
$white-10: #727272;


$green: #628141;
$red: #9f5641;
$red-active: #603427;
$warn-green: #628141;
$warn-red: #c6694d;
