@use './colors';
@use 'sass:map';

$_palettes: (
  primary: (
    0: colors.$white-0,
    10: colors.$white-0,
    20: colors.$white-0,
    25: colors.$white-0,
    30: colors.$white-0,
    35: colors.$white-0,
    40: colors.$white-0,
    50: colors.$white-0,
    60: colors.$white-0,
    70: colors.$white-0,
    80: colors.$white-0,
    90: colors.$white-0,
    95: colors.$white-0,
    98: colors.$white-0,
    99: colors.$white-0,
    100: colors.$white-0,
  ),
  secondary: (
    0: colors.$white-0,
    10: colors.$white-0,
    20: colors.$white-0,
    25: colors.$white-0,
    30: colors.$white-0,
    35: colors.$white-0,
    40: colors.$white-0,
    50: colors.$white-0,
    60: colors.$white-0,
    70: colors.$white-0,
    80: colors.$white-0,
    90: colors.$white-0,
    95: colors.$white-0,
    98: colors.$white-0,
    99: colors.$white-0,
    100: colors.$white-0,
  ),
  tertiary: (
    0: colors.$white-0,
    10: colors.$white-0,
    20: colors.$white-0,
    25: colors.$white-0,
    30: colors.$white-0,
    35: colors.$white-0,
    40: colors.$white-0,
    50: colors.$white-0,
    60: colors.$white-0,
    70: colors.$white-0,
    80: colors.$white-0,
    90: colors.$white-0,
    95: colors.$white-0,
    98: colors.$white-0,
    99: colors.$white-0,
    100: colors.$white-0,
  ),
  neutral: (
    0: colors.$white-0,
    10: colors.$white-0,
    20: colors.$white-0,
    25: colors.$white-0,
    30: colors.$white-0,
    35: colors.$white-0,
    40: colors.$white-0,
    50: colors.$white-0,
    60: colors.$white-0,
    70: colors.$white-0,
    80: colors.$white-0,
    90: colors.$white-0,
    95: colors.$white-0,
    98: colors.$white-0,
    99: colors.$white-0,
    100: colors.$white-0,
    4: colors.$white-0,
    6: colors.$white-0,
    12: colors.$white-0,
    17: colors.$white-0,
    22: colors.$white-0,
    24: colors.$white-0,
    87: colors.$white-0,
    92: colors.$white-0,
    94: colors.$white-0,
    96: colors.$white-0,
  ),
  neutral-variant: (
    0: colors.$white-0,
    10: colors.$white-0,
    20: colors.$white-0,
    25: colors.$white-0,
    30: colors.$white-0,
    35: colors.$white-0,
    40: colors.$white-0,
    50: colors.$white-0,
    60: colors.$white-0,
    70: colors.$white-0,
    80: colors.$white-0,
    90: colors.$white-0,
    95: colors.$white-0,
    98: colors.$white-0,
    99: colors.$white-0,
    100: colors.$white-0,
  ),
  error: (
    0: colors.$warn-red,
    10: colors.$warn-red,
    20: colors.$warn-red,
    25: colors.$warn-red,
    30: colors.$warn-red,
    35: colors.$warn-red,
    40: colors.$warn-red,
    50: colors.$warn-red,
    60: colors.$warn-red,
    70: colors.$warn-red,
    80: colors.$warn-red,
    90: colors.$warn-red,
    95: colors.$warn-red,
    98: colors.$warn-red,
    99: colors.$warn-red,
    100: colors.$warn-red,
  ),
);

$_rest: (
  secondary: map.get($_palettes, secondary),
  neutral: map.get($_palettes, neutral),
  neutral-variant: map.get($_palettes,  neutral-variant),
  error: map.get($_palettes, error),
);

$primary-palette: map.merge(map.get($_palettes, primary), $_rest);
