@use 'sass:meta';

$spacing-scale: (
  0: 0rem,
  1: 0.25rem,
  2: 0.5rem,
  3: 1rem,
  4: 1.5rem,
  5: 3rem
);

@mixin generate-utility($prefix, $property) {
  @each $key, $value in $spacing-scale {
    .#{$prefix}-#{$key} {
      #{$property}: $value !important;
    }
  }
}

@mixin generate-utility-with-directions($prefix, $property) {
  $directions: (
    null: null,
    t: -top,
    b: -bottom,
    s: -inline-start,
    e: -inline-end,
    x: (-inline-start, -inline-end),
    y: (-top, -bottom)
  );

  @each $key, $value in $spacing-scale {
    @each $dir, $suffix in $directions {

      $class-name: "#{$prefix}#{$dir}-#{$key}";
      @if $dir == null {
        $class-name: "#{$prefix}-#{$key}";
      }

      .#{$class-name} {
        @if meta.type-of($suffix) == 'list' {
          @each $side in $suffix {
            #{$property}#{$side}: $value !important;
          }
        } @else if $suffix == null {
          #{$property}: $value !important;
        } @else {
          #{$property}#{$suffix}: $value !important;
        }

      }
    }
  }
}

@mixin overlay-background-blur() {
  opacity: 1 !important;
  background-color: rgba(0, 0, 0, 0.4) !important;
  backdrop-filter: blur(4px)
}
