@use '../styles/colors';

@mixin side-panel() {
  width: 80dvw;
  color: inherit;
  background-color: colors.$black-1;
}

@mixin bottom-sheet() {
  height: 96dvh;
  color: inherit;
  background-color: colors.$black-1;
  border-radius: 40px 40px 0 0;
}

@mixin overlay-background() {
  background-color: black;
  opacity: 0.8;
}

@mixin overlay-background-blur() {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px)
}
