@use '../styles/colors';
@use '../styles/variables';

@mixin side-panel() {
  width: 80dvw;
  color: inherit;
  background-color: #000000;
}

@mixin bottom-sheet() {
  height: 100dvh;
  color: inherit;
  background-color: #000000;
  border-radius: 40px 40px 0 0;

  &-body {
    padding-top: variables.$bottom-sheet-top-padding;
    padding-bottom: variables.$bottom-sheet-bottom-padding;
  }

  .header {
    height: variables.$bottom-sheet-header-height;
  }

  .close-button {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
  }
}

@mixin overlay-background() {
  background-color: black;
  opacity: 0.8;
}

@mixin overlay-background-blur() {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px)
}
