<form [formGroup]="form" class="w-100">
  <div class="d-flex align-items-start justify-content-between mb-3 w-100 gap-3 px-2">
    <div class="d-flex flex-column gap-2">
      <h1 class="fw-bold text-start">{{ transaction()?.id ? 'Editar Transacción' : 'Nueva Transacción' }}</h1>
      <div class="d-flex gap-2">
        <mat-chip>
          <mat-icon matChipAvatar
                    class="material-symbols-rounded">{{ getTransactionTypeIcon(selectedTransactionType()!) }}
          </mat-icon>
          {{ getTransactionTypeLabel(selectedTransactionType()!) }}
        </mat-chip>
        <app-date-picker formControlName="date"/>
      </div>
    </div>
    @if (transaction()?.id) {
      <button matIconButton (click)="delete()">
        <mat-icon class="material-symbols-rounded text-red">delete</mat-icon>
      </button>
    }
  </div>

  <mat-card appearance="filled" class="content-wrapper w-100">
    <mat-card-content>
      <div class="items-container gap-0">
        <mat-button-toggle-group formControlName="type" class="mb-2" hideSingleSelectionIndicator>
          @for (type of Object.keys(TransactionType); track type) {
            @if (!isNaN(Number(type))) {
              <mat-button-toggle [value]="Number(type)" (click)="onToggleChange()">
                <mat-icon class="material-symbols-rounded">{{ getTransactionTypeIcon(Number(type)) }}</mat-icon>
              </mat-button-toggle>
            }
          }
        </mat-button-toggle-group>
        <div class="amount-container w-100 mt-2 mb-3 gap-4 d-flex flex-column">
          <mat-form-field>
            <mat-label>Descripción</mat-label>
            <input matInput placeholder="Opcional. Ej: Pago Servicios" formControlName="description">
            <mat-icon class="material-symbols-rounded" matPrefix>label</mat-icon>
          </mat-form-field>
          <mat-form-field class="money-input">
            <mat-label>Monto</mat-label>
            <input autocomplete="off" matInput mask="separator.0" thousandSeparator="." inputmode="numeric"
                   pattern="[0-9]*"
                   placeholder="350.000" formControlName="amount">
            <mat-icon class="material-symbols-rounded" matPrefix>attach_money</mat-icon>
            @if (form.controls.amount.hasError('max')) {
              <mat-error>{{ amountErrorLabel()[0] }}
                <span class="fw-bolder ms-1">{{ amountErrorLabel()[1] | currency : 'COP' : 'symbol' : '1.0-0' }}</span>
              </mat-error>
            }
          </mat-form-field>
        </div>
        @if (availableOriginAccounts().length) {
          <div class="w-100 d-flex flex-column gap-4 fields-container">
            <mat-form-field>
              <mat-label>{{ originAccountLabel() }}</mat-label>
              <mat-select formControlName="originAccountId" placeholder="Selecciona una cuenta">
                <mat-option>--</mat-option>
                @for (account of availableOriginAccounts(); track account.id) {
                  <mat-option [value]="account.id">
                    <mat-icon class="material-symbols-rounded">{{ getAccountTypeIcon(account.type) }}</mat-icon>
                    {{ account.label }}
                  </mat-option>
                }
              </mat-select>
            </mat-form-field>

            @if (selectedTransactionType() === TransactionType.Transfer) {
              <mat-form-field>
                <mat-label>A la cuenta</mat-label>
                <mat-select formControlName="targetAccountId" placeholder="Selecciona una cuenta">
                  <mat-option>--</mat-option>
                  @for (account of availableTargetAccounts(); track account.id) {
                    <mat-option [value]="account.id">
                      <mat-icon class="material-symbols-rounded">{{ getAccountTypeIcon(account.type) }}</mat-icon>
                      {{ account.label }}
                    </mat-option>
                  }
                </mat-select>
              </mat-form-field>
            }
          </div>
          <div class="d-flex gap-2 align-items-center justify-content-between w-100 mt-3 px-3">
            <div class="d-flex gap-2 align-items-center">
              <mat-icon class="material-symbols-rounded">checkbook</mat-icon>
              <span>Incluir en el presupuesto</span>
            </div>
            <mat-slide-toggle formControlName="includedInBudget"></mat-slide-toggle>
          </div>
        } @else {
          <p class="text-center text-red">Para hacer una transacción primero debes agregar una o más cuentas.</p>
        }
      </div>
    </mat-card-content>
  </mat-card>
</form>
<div class="d-flex flex-column gap-2 w-100 mt-3">
  <button matButton="filled" [disabled]="!form.valid || form.pristine" (click)="save()">Guardar</button>
  <button matButton="tonal" (click)="cancel()">Cancelar</button>
</div>

