@use '../../../shared/styles/colors';

.account {
  background-color: colors.$black-01;
  padding: 16px;
  border-radius: 8px;

  i {
    font-size: 1.5rem;
  }

  .progress {
    height: 24px;
    border-radius: 8px;
    background-color: colors.$black-03;

    &.\32 {
      .progress-bar {
        background-color: colors.$red;
      }
    }

    &.\33 {
      background-color: colors.$red;
    }

    &-bar {
      background-color: colors.$green;
    }

  }

  .title {
    font-size: 1.2rem;
  }

  .hints {
    small {
      width: 33%;
      text-align: center;
    }
  }
}
