<mat-card appearance="filled" class="content-wrapper account" (click)="edit()">
  <mat-card-content>
    <div class="items-container sm">
      <div class="d-flex justify-content-between align-items-center w-100 gap-3">
        <div class="d-flex align-items-center gap-2">
          <mat-icon class="material-symbols-rounded">{{ getAccountTypeIcon(account()!.type) }}</mat-icon>
          <span class="contained-text">{{ account()?.label }}</span>
        </div>
        <span class="fw-bold number-text" [class.text-green]="account()!.balance > 0"
              [class.text-red]="account()!.balance < 0">{{ this.account()!.balance | currency : 'COP' : 'symbol' : '1.0-0' }}</span>
      </div>
      @if (account()?.type !== AccountType.Savings && account()?.type !== AccountType.Cash) {
        <div class="main-content flex-column gap-2 pt-3">
          <mat-progress-bar mode="determinate" [value]="parsedBalancePercent()"
                            [class.debt]="account()!.type === AccountType.Debt"
                            [class.credit-card]="account()!.type === AccountType.CreditCard"></mat-progress-bar>
          <div class="d-flex justify-content-between hints w-100">
            <small class="text-start">{{ quota() | currency : 'COP' : 'symbol' : '1.0-0' }}</small>
            <small class="fw-bold">{{ balancePercent() | percent }}</small>
            <small class="text-end">{{ target() | currency : 'COP' : 'symbol' : '1.0-0' }}</small>
          </div>
        </div>
      }
    </div>
  </mat-card-content>
</mat-card>
