@use '../../../shared/styles/colors';

.account {
  .progress {
    height: 24px;
    border-radius: 8px;
    background-color: var(--mat-sys-surface-container-highest);

    &.\32 {
      .progress-bar {
        background-color: colors.$progress-red;
      }
    }

    &.\33 {
      background-color: colors.$progress-red;
    }

    &-bar {
      background-color: colors.$progress-green;
    }
  }

  .hints {
    small {
      width: 33%;
      text-align: center;
    }
  }
}
