<mat-card appearance="filled" class="account mb-3" (click)="edit()">
  <mat-card-content class="d-flex flex-column gap-3">
    <div class="d-flex align-items-center justify-content-between gap-3">
      <div class="d-flex align-items-center gap-2">
        <mat-icon class="material-symbols-rounded">{{ getAccountTypeIcon(account()!.type) }}</mat-icon>
        <span>{{ account()?.label }}</span>
      </div>
      <mat-chip class="mono" [ngClass]="{ positive: account()!.balance > 0, negative: account()!.balance < 0 }">
        {{ balance() | currency : 'USD' : 'symbol' : '1.0-0' }}
      </mat-chip>
    </div>
    @if (account()?.type !== AccountType.Savings && account()?.type !== AccountType.Cash) {
      <div class="progress" [ngClass]="account()!.type.toString()">
        <div class="progress-bar" [style.width.%]="parsedBalancePercent()"></div>
      </div>
      <div class="d-flex justify-content-between hints">
        <small class="text-start font-monospace">{{ quota() | currency : 'USD' : 'symbol' : '1.0-0' }}</small>
        <small class="font-monospace">{{ balancePercent() | percent }}</small>
        <small class="text-end font-monospace">{{ target() | currency : 'USD' : 'symbol' : '1.0-0' }}</small>
      </div>
    }
  </mat-card-content>
</mat-card>
