@use '../../../shared/styles/colors';

.account {
  background-color: var(--mat-sys-surface-container-highest);
  color: var(--mat-sys-on-surface-variant);
  padding: 16px;
  border-radius: 8px;

  .mat-icon {
    width: 1.75rem;
    height: 1.75rem;
    font-size: 1.75rem;
  }

  .progress {
    height: 24px;
    border-radius: 8px;
    background-color: colors.$progress-gray;

    &.\32 {
      .progress-bar {
        background-color: colors.$progress-red;
      }
    }

    &.\33 {
      background-color: colors.$progress-red;
    }

    &-bar {
      background-color: colors.$progress-green;
    }
  }

  .hints {
    small {
      width: 33%;
      text-align: center;
    }
  }
}
