<div class="main-content less-radius" [class.read-only]="hasDeletedAccount()" (click)="edit()">
  <div class="d-flex justify-content-between align-items-center w-100 gap-3">
    <div class="d-flex align-items-center gap-1">
      @switch (transaction()?.type) {
        @case (TransactionType.Expense) {
          @if (getAccountDetails(transaction()!.originAccountId)) {
            <mat-icon class="material-symbols-rounded">
              {{ getAccountTypeIcon(getAccountDetails(transaction()!.originAccountId)!.type) }}
            </mat-icon>
            <span>{{ getAccountDetails(transaction()!.originAccountId)!.label }}</span>
          } @else {
            <ng-container [ngTemplateOutlet]="deletedAccount"></ng-container>
          }
          <mat-icon class="material-symbols-rounded mx-2">arrow_right_alt</mat-icon>
          <mat-icon class="material-symbols-rounded money-icon-end text-red">attach_money</mat-icon>
        }
        @case (TransactionType.Income) {
          <mat-icon class="material-symbols-rounded money-icon-start text-green">attach_money</mat-icon>
          <mat-icon class="material-symbols-rounded">arrow_right_alt</mat-icon>
          @if (getAccountDetails(transaction()!.originAccountId)) {
            <mat-icon class="material-symbols-rounded">
              {{ getAccountTypeIcon(getAccountDetails(transaction()!.originAccountId)!.type) }}
            </mat-icon>
            <span>{{ getAccountDetails(transaction()!.originAccountId)!.label }}</span>
          } @else {
            <ng-container [ngTemplateOutlet]="deletedAccount"></ng-container>
          }
        }
        @case (TransactionType.Transfer) {
          <div class="d-flex align-items-center gap-1">
            @if (getAccountDetails(transaction()!.originAccountId)) {
              <mat-icon class="material-symbols-rounded">
                {{ getAccountTypeIcon(getAccountDetails(transaction()!.originAccountId)!.type) }}
              </mat-icon>
              <span class="contained-text">{{ getAccountDetails(transaction()!.originAccountId)!.label }}</span>
            } @else {
              <ng-container [ngTemplateOutlet]="deletedAccount"></ng-container>
            }
          </div>
          <mat-icon class="material-symbols-rounded">arrow_right_alt</mat-icon>
          <div class="d-flex align-items-center gap-1">
            @if (getAccountDetails(transaction()!.targetAccountId!)) {
              <mat-icon class="material-symbols-rounded">
                {{ getAccountTypeIcon(getAccountDetails(transaction()!.targetAccountId!)!.type) }}
              </mat-icon>
              <span class="contained-text">{{ getAccountDetails(transaction()!.targetAccountId!)!.label }}</span>
            } @else {
              <ng-container [ngTemplateOutlet]="deletedAccount"></ng-container>
            }
          </div>
        }
      }
    </div>
    <span class="fw-bold number-text" [class.text-green]="transaction()?.type === TransactionType.Income"
          [class.text-red]="transaction()?.type === TransactionType.Expense">{{ balanceLabelPrefix() }} {{ transaction()?.amount | currency : 'COP' : 'symbol' : '1.0-0' }}</span>
  </div>
</div>

<ng-template #deletedAccount>
  <mat-chip class="sm text-decoration-line-through">Cuenta eliminada</mat-chip>
</ng-template>
