.money-icon {
  &-end {
    margin-left: -0.5rem;
  }
  &-start {
    margin-right: -0.5rem;
  }
}

.read-only {
  opacity: 0.6;
  pointer-events: none;
}

.hint {
  max-width: 100%;
}

.mat-icon {
  width: 20px;
  height: 20px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
