.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  width: 100dvw;
  position: fixed;
  top: 0;
  left: 0;
}

.app-version {
  position: fixed;
  bottom: 0;
  left: 0;
}

.app-logo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100dvw;
  height: 50dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}
