<div class="d-flex flex-column gap-4">
  <div>
    <h1 class="fw-bold mb-3">Resumen</h1>
    <mat-card appearance="filled" class="content-wrapper mb-2">
      <mat-card-content>
        <div class="items-container">
          <div class="main-content">
            <h1
              class="mb-0 text-center main-title">{{ availableBalance() | currency : 'COP' : 'symbol' : '1.0-0' }}</h1>
            <small class="fw-bold">Disponible</small>
          </div>
          <div class="d-flex w-100">
            <div class="d-flex flex-column align-items-center w-50 text-green">
              <h5 class="mb-0 text-center fw-bold">{{ monthIncomes() | currency : 'COP' : 'symbol' : '1.0-0' }}</h5>
              <small class="fw-bold">Ingresos</small>
            </div>
            <div class="d-flex flex-column align-items-center w-50 text-red">
              <h5 class="mb-0 text-center fw-bold">{{ monthExpenses() | currency : 'COP' : 'symbol' : '1.0-0' }}</h5>
              <small class="fw-bold">Gastos</small>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div>
    <h1 class="fw-bold mb-3">Gastos</h1>
    <mat-card appearance="filled" class="content-wrapper">
      <mat-card-content>
        <div class="items-container sm">
          @for (type of Object.keys(expensesPerAccountType()); track expensesPerAccountType()) {
            <div class="main-content">
              <div class="d-flex align-items-center justify-content-center gap-2">
                <mat-icon class="material-symbols-rounded">{{ getAccountTypeIcon(Number(type)) }}</mat-icon>
                {{ getAccountTypeLabel(Number(type)) }}
              </div>
              <span
                class="fw-bold text-red">{{ $any(expensesPerAccountType())[type] | currency : 'COP' : 'symbol' : '1.0-0' }}</span>
            </div>
          }
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div>
    <h1 class="fw-bold mb-3">Ingresos</h1>
    <mat-card appearance="filled" class="content-wrapper">
      <mat-card-content>
        <div class="items-container sm">
          @for (type of Object.keys(incomesPerAccountType()); track incomesPerAccountType()) {
            <div class="main-content">
              <div class="d-flex align-items-center justify-content-center gap-2">
                <mat-icon class="material-symbols-rounded">{{ getAccountTypeIcon(Number(type)) }}</mat-icon>
                {{ getAccountTypeLabel(Number(type)) }}
              </div>
              <span
                class="fw-bold text-green">{{ $any(incomesPerAccountType())[type] | currency : 'COP' : 'symbol' : '1.0-0' }}</span>
            </div>
          }
        </div>
      </mat-card-content>
    </mat-card>
  </div>

</div>
