<div class="d-flex flex-column gap-4">
  <div>
    <h1 class="fw-bold mb-3">Resumen Mensual</h1>
    <mat-card appearance="filled" class="content-wrapper mb-2">
      <mat-card-content>
        <div class="items-container">
          <div class="main-content">
            <h1
              class="text-center main-title">{{ availableBalance() | currency : 'COP' : 'symbol' : '1.0-0' }}</h1>
            <small class="fw-bold">Disponible</small>
          </div>
          <div class="d-flex w-100">
            <div class="d-flex flex-column align-items-center w-50 text-green">
              <h5 class="text-center fw-bold">{{ monthIncomes() | currency : 'COP' : 'symbol' : '1.0-0' }}</h5>
              <small class="fw-bold">Ingresos</small>
            </div>
            <div class="d-flex flex-column align-items-center w-50 text-red">
              <h5 class="text-center fw-bold">{{ monthExpenses() | currency : 'COP' : 'symbol' : '1.0-0' }}</h5>
              <small class="fw-bold">Gastos</small>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div>
    <h1 class="fw-bold mb-3">Presupuestos</h1>
    <div class="d-flex flex-column gap-2">
      @if (budgetPreference().id) {
        <mat-card appearance="filled" class="content-wrapper mb-2">
          <mat-card-content>
            <div class="items-container sm">
              @for (budget of budgetsBalance(); track budget) {
                <div class="main-content flex-column align-items-start gap-2 budget">
                  <div class="d-flex align-items-center justify-content-between w-100 mb-1">
                    <div class="d-flex align-items-center gap-2">
                      <mat-icon class="material-symbols-rounded">{{ getAccountTypeIcon(budget.accountType) }}</mat-icon>
                      <span>{{ getAccountTypeLabel(budget.accountType) }}</span>
                    </div>
                    <span class="fw-bold text-green"
                          [class.text-red]="budget.isOverPassed">{{ budget.balance | currency : 'COP' : 'symbol' : '1.0-0' }}</span>
                  </div>
                  <mat-progress-bar mode="determinate" [value]="budget.progressBarPercentage"
                                    [class.debt]="budget.isOverPassed"></mat-progress-bar>
                  <div class="d-flex justify-content-between hints w-100">
                    <small class="text-start">{{ 0 | currency : 'COP' : 'symbol' : '1.0-0' }}</small>
                    <small class="fw-bold">
                      <span>{{ budget.percentage | percent }}</span></small>
                    <small class="text-end">{{ budget.limit | currency : 'COP' : 'symbol' : '1.0-0' }}</small>
                  </div>
                </div>
              }
            </div>
          </mat-card-content>
        </mat-card>
      }
      <button matButton="outlined" (click)="openBudgetPreferences()">
        <mat-icon class="material-symbols-rounded">tune</mat-icon>
        Configurar presupuestos
      </button>
    </div>
  </div>
  @if (expensesPerAccountType().length && expensesPerAccount().length) {
    <div class="d-flex flex-column gap-2">
      <h1 class="fw-bold mb-3">Gastos</h1>
      <mat-card appearance="filled" class="content-wrapper">
        <mat-card-content>
          <div class="subtitle">
            <span class="icon"><mat-icon class="material-symbols-rounded">category</mat-icon></span>
            <h5 class="text">Por tipo</h5>
          </div>
          <div class="items-container sm">
            @for (expense of expensesPerAccountType(); track expense[0]) {
              <div class="main-content less-radius">
                <div class="d-flex align-items-center justify-content-center gap-2">
                  <mat-icon class="material-symbols-rounded"
                            [class.text-red]="expense[0] === AccountType.Deleted">{{ getAccountTypeIcon(expense[0]) }}
                  </mat-icon>
                  <span
                    [class.text-decoration-line-through]="expense[0] === AccountType.Deleted">{{ getAccountTypeLabel(expense[0]) }}</span>
                </div>
                <span
                  class="fw-bold text-red">{{ expense[1] | currency : 'COP' : 'symbol' : '1.0-0' }}</span>
              </div>
            }
          </div>
        </mat-card-content>
      </mat-card>
      <mat-card appearance="filled" class="content-wrapper">
        <mat-card-content>
          <div class="subtitle">
            <span class="icon"><mat-icon class="material-symbols-rounded">account_balance</mat-icon></span>
            <h5 class="text">Por cuenta</h5>
          </div>
          <div class="items-container sm">
            @for (expense of expensesPerAccount(); track expense[0].id) {
              <div class="main-content less-radius">
                <div class="d-flex align-items-center justify-content-center gap-2">
                  <mat-icon
                    class="material-symbols-rounded"
                    [class.text-red]="expense[0].type === AccountType.Deleted">{{ getAccountTypeIcon(expense[0].type) }}
                  </mat-icon>
                  <span
                    [class.text-decoration-line-through]="expense[0].type === AccountType.Deleted">{{ expense[0].label }}</span>
                </div>
                <span
                  class="fw-bold text-red">{{ expense[1] | currency : 'COP' : 'symbol' : '1.0-0' }}</span>
              </div>
            }
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  }
  @if (incomesPerAccountType().length && incomesPerAccount().length) {
    <div class="d-flex flex-column gap-2">
      <h1 class="fw-bold mb-3">Ingresos</h1>
      <mat-card appearance="filled" class="content-wrapper">
        <mat-card-content>
          <div class="subtitle">
            <span class="icon"><mat-icon class="material-symbols-rounded">category</mat-icon></span>
            <h5 class="text">Por tipo</h5>
          </div>
          <div class="items-container sm">
            @for (income of incomesPerAccountType(); track income[0]) {
              <div class="main-content less-radius">
                <div class="d-flex align-items-center justify-content-center gap-2">
                  <mat-icon class="material-symbols-rounded"
                            [class.text-red]="income[0] === AccountType.Deleted">{{ getAccountTypeIcon(income[0]) }}
                  </mat-icon>
                  <span
                    [class.text-decoration-line-through]="income[0] === AccountType.Deleted">{{ getAccountTypeLabel(income[0]) }}</span>
                </div>
                <span
                  class="fw-bold text-green">{{ income[1] | currency : 'COP' : 'symbol' : '1.0-0' }}</span>
              </div>
            }
          </div>
        </mat-card-content>
      </mat-card>
      <mat-card appearance="filled" class="content-wrapper">
        <mat-card-content>
          <div class="subtitle">
            <span class="icon"><mat-icon class="material-symbols-rounded">account_balance</mat-icon></span>
            <h5 class="text">Por cuenta</h5>
          </div>
          <div class="items-container sm">
            @for (income of incomesPerAccount(); track income[0].id) {
              <div class="main-content less-radius">
                <div class="d-flex align-items-center justify-content-center gap-2">
                  <mat-icon
                    class="material-symbols-rounded"
                    [class.text-red]="income[0].type === AccountType.Deleted">{{ getAccountTypeIcon(income[0].type) }}
                  </mat-icon>
                  <span
                    [class.text-decoration-line-through]="income[0].type === AccountType.Deleted">{{ income[0].label }}</span>
                </div>
                <span
                  class="fw-bold text-green">{{ income[1] | currency : 'COP' : 'symbol' : '1.0-0' }}</span>
              </div>
            }
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  }
</div>
