.subtitle {
  margin-bottom: 0.75rem;
}

.budget {
  padding: 0.75rem !important;
}

.overpassed-amount {
  mat-icon {
    font-size: 18px;
    width: 18px;
    min-width: 18px;
    height: 18px;
    min-height: 18px;
    display: flex;
  }
}
