<form class="w-100 d-flex flex-column align-items-center justify-content-start" [formGroup]="form">
  <h1 class="text-center">{{ getAccountTypeLabel(selectedAccountType()!) }}</h1>
  @if (account()?.id) {
    <mat-chip class="sm mono mb-2 positive">Editando</mat-chip>
  }

  <mat-button-toggle-group formControlName="type" hideSingleSelectionIndicator class="mb-4 mt-2">
    @for (type of Object.keys(AccountType); track type) {
      @if (!isNaN(Number(type))) {
        <mat-button-toggle [value]="Number(type)">
          <mat-icon class="material-symbols-rounded">{{ getAccountTypeIcon(Number(type)) }}</mat-icon>
        </mat-button-toggle>
      }
    }
  </mat-button-toggle-group>

  <div class="inputs-wrapper w-100">
    <mat-form-field class="mt-3">
      <mat-label>{{ labelPlaceholder().label }}</mat-label>
      <input autocomplete="off" matInput [placeholder]="labelPlaceholder().placeholder" formControlName="label">
      <mat-icon class="material-symbols-rounded" matPrefix>label</mat-icon>
    </mat-form-field>
    <mat-form-field>
      <mat-label>{{ balanceLabelAndPlaceholder().label }}</mat-label>
      <input autocomplete="off" matInput [placeholder]="balanceLabelAndPlaceholder().placeholder"
             formControlName="balance"
             mask="separator.0" thousandSeparator="." inputmode="numeric" pattern="[0-9]*">
      <mat-icon class="material-symbols-rounded" matPrefix>attach_money</mat-icon>
    </mat-form-field>
    @if (selectedAccountType() !== AccountType.Savings && selectedAccountType() !== AccountType.Cash) {
      <mat-form-field>
        <mat-label>{{ quotaLabelAndPlaceholder()!.label }}</mat-label>
        <input autocomplete="off" matInput [placeholder]="quotaLabelAndPlaceholder()!.placeholder"
               formControlName="quota"
               [errorStateMatcher]="quotaValueErrorStateMatcher"
               mask="separator.0" thousandSeparator="." inputmode="numeric" pattern="[0-9]*">
        <mat-icon class="material-symbols-rounded" matPrefix>attach_money</mat-icon>
      </mat-form-field>
    }
  </div>
</form>

<div class="d-flex flex-column gap-2 w-100 mt-4">
  <button matButton="filled" [disabled]="!form.valid" (click)="saveAccount()">Guardar</button>
  <button matButton="tonal" (click)="cancel()">Cancelar</button>
  @if (account()?.id) {
    <button matButton="filled" class="danger-button" (click)="deleteAccount()">Eliminar</button>
  }
</div>
