@use '@angular/material' as mat;
@use './app/shared/styles/colors';
@use './app/shared/styles/mixins';
@use './app/shared/styles/variables';
@use './app/shared/styles/_theme-colors' as themes;

html {
  height: 100%;
  width: 100%;
  overflow: hidden;
  overscroll-behavior: none;
  position: fixed;
  @include mat.theme((
    color: (
      primary: themes.$primary-palette,
      tertiary: themes.$tertiary-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

body {
  color-scheme: dark;
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
  margin: 0;
  height: 100%;
  touch-action: manipulation;
}

body.light-mode {
  color-scheme: light;
}

mat-form-field {
  width: 100%;
}

.inner-bottom-sheet-component {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 2rem;
  padding-top: 1rem;

  .mat-mdc-card-filled {
    --mat-card-filled-container-color: var(--mat-sys-surface-container);
  }
}

p, span, small, label, b, h1, h2, h3, h4, h5, h6, a, button, text {
  font-weight: 400;
}

p, span, small, label, b, h1, h2, h3, h4, h5, h6, a, button, text, .progress-bar, .progress {
  user-select: none;
}


mat-chip {
  &.sm {
    --mat-chip-label-text-size: 0.75rem;
    --mat-chip-container-height: 25px;

    .mdc-evolution-chip__action--primary {
      padding-left: 8px !important;
      padding-right: 8px !important;
    }
  }

  &.positive {
    --mat-chip-label-text-color: #{ colors.$green };
  }

  &.negative {
    --mat-chip-label-text-color: #{ colors.$red };
  }

  .mdc-evolution-chip__graphic {
    padding-right: 2px !important;
  }
}

.danger-button {
  @include mat.button-overrides((
    filled-container-color: #{ colors.$red },
  ));
}

.mat-mdc-input-element::placeholder {
  color: color-mix(in srgb, var(--mat-sys-on-surface) 40%, transparent) !important;
}

.loader-panel {
  --mat-dialog-container-color: transparent;
  --mat-dialog-container-shape: 0;

  .mat-mdc-dialog-surface {
    display: contents;
  }
}

.loader-backdrop {
  @include mixins.overlay-background-blur();
}

.text-green {
  color: colors.$green !important;
}

.text-red {
  color: colors.$red !important;
}

.month-picker .mat-calendar-period-button {
  pointer-events: none;
}

.month-picker .mat-calendar-arrow {
  display: none;
}

.mat-mdc-card-content {
  padding: 12px !important;
}

.contained-text {
  max-width: fit-content;
  white-space: normal;
  overflow: hidden;

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.main-title {
  font-size: calc(1.75rem + 1.5vw);
  font-weight: 500;
}

.fw-bold {
  font-weight: 500 !important;
}

mat-card.content-wrapper {
  .subtitle {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 0.5rem;
    margin-bottom: 0.75rem;

    .icon {
      display: flex;
      width: 40px;
      height: 40px;
      align-items: center;
      justify-content: center;
      background-color: var(--mat-sys-primary);
      color: var(--mat-sys-on-primary);
      border-radius: 0.5rem;
    }

    .text {
      font-weight: 500;
      margin-bottom: 0;
      text-transform: capitalize;
    }
  }
  .items-container {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    .main-content {
      background-color: var(--mat-sys-surface-container);
      color: var(--mat-sys-on-surface);
      padding: 0.5rem;
      border-radius: 0.5rem;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

    }

    &.sm {
      gap: 0.5rem;

      .main-content {
        flex-direction: row;
        justify-content: space-between;
        gap: 1rem;
      }
    }
  }
}

mat-icon {
  width: 24px;
  min-width: 24px;
  height: 24px;
  min-height: 24px;
}

.mat-bottom-sheet-container {
  --mat-bottom-sheet-container-background-color: var(--mat-sys-surface-container-highest);
  --mat-bottom-sheet-container-text-color: var(--mat-sys-on-surface);
  border-radius: 1.5rem 1.5rem 0 0;
}

.number-text {
  white-space: nowrap;
}
