@use './app/shared/styles/colors';

@font-face {
  font-family: 'Neue Regrade';
  src: url('./assets/fonts/Neue Regrade Variable.ttf') format('ttf');
}

body {
  background-color: colors.$black-0;
  color: colors.$white-0;
  font-family: 'Neue Regrade', sans-serif;
  font-weight: 400;
  touch-action: manipulation;
}
