@use '@angular/material' as mat;
@use './app/shared/styles/colors';
@use './app/shared/styles/mixins';
@use './app/shared/styles/variables';

@font-face {
  font-family: 'Neue Regrade';
  src: url('./assets/fonts/Neue Regrade Variable.ttf') format('ttf');
}

html {
  height: 100%;
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: (
      plain-family: Neue Regrade,
      bold-weight: 900,
      medium-weight: 600,
      regular-weight: 500,
    ),
    density: 0,
  ));
}

body {
  color-scheme: dark;
  margin: 0;
  height: 100%;
  background-color: colors.$black-0;
  color: colors.$white-0;
  font-family: 'Neue Regrade', sans-serif;
  font-weight: 400;
  touch-action: manipulation;
}

small {
  font-size: 0.75em;
}

.offcanvas {
  transition: transform 520ms cubic-bezier(0.77, 0, 0.175, 1);

  &-backdrop.show {
    @include mixins.overlay-background();
  }
}

.btn-check:checked + .btn,
.btn.btn-light {
  font-weight: 500;
}

mat-form-field {
  width: 100%;
}

.inner-bottom-sheet-component {
  width: 100%;
  height: calc(100dvh - #{ variables.$bottom-sheet-top-padding } - #{ variables.$bottom-sheet-bottom-padding } - #{ variables.$bottom-sheet-header-height });
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
