@use '@angular/material' as mat;
@use './app/shared/styles/colors';
@use './app/shared/styles/mixins';
@use './app/shared/styles/variables';
@use './app/shared/styles/material-theme-colors';

@font-face {
  font-family: 'Neue Regrade';
  src: url('./assets/fonts/Neue Regrade Variable.ttf') format('truetype');
}

html {
  height: 100%;
  @include mat.theme((
    color: material-theme-colors.$primary-palette,
    typography: (
      plain-family: Neue Regrade,
      bold-weight: 900,
      medium-weight: 600,
      regular-weight: 500,
    ),
    density: 0,
  ));
}

body {
  color-scheme: dark;
  margin: 0;
  height: 100%;
  background-color: colors.$black-0;
  color: colors.$white-0;
  font-family: 'Neue Regrade', sans-serif;
  font-weight: 400;
  touch-action: manipulation;
}

small {
  font-size: 0.75em;
}

.offcanvas {
  transition: transform 520ms cubic-bezier(0.77, 0, 0.175, 1);

  &-backdrop.show {
    @include mixins.overlay-background();
  }
}

.offcanvas.modal-dialog + .offcanvas-backdrop {
  z-index: 2040;
}

.btn-check:checked + .btn,
.btn.btn-light {
  font-weight: 500;
}

.btn-light[disabled] {
  background-color: colors.$black-2;
  border-color: colors.$black-2;
  color: colors.$white-3;
  opacity: 1;
}

mat-form-field {
  width: 100%;
}

.inner-bottom-sheet-component {
  width: 100%;
  height: calc(100dvh - #{ variables.$bottom-sheet-top-padding } - #{ variables.$bottom-sheet-bottom-padding } - #{ variables.$bottom-sheet-header-height });
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

p, span, small, label, b, h1, h2, h3, h4, h5, h6, a, button, text {
  user-select: none;
}

.btn-danger {
  --bs-btn-color: #fff;
  --bs-btn-bg: #{ colors.$red };
  --bs-btn-border-color: #{ colors.$red };
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #{ colors.$red-active };
  --bs-btn-hover-border-color: #{ colors.$red-active };
  --bs-btn-focus-shadow-rgb: 225, 83, 97;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #{ colors.$red-active };
  --bs-btn-active-border-color: #{ colors.$red-active };
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #{ colors.$red };
  --bs-btn-disabled-border-color: #{ colors.$red };
}
