@use '@angular/material' as mat;
@use './app/shared/styles/colors';
@use './app/shared/styles/mixins';
@use './app/shared/styles/variables';

html {
  height: 100%;
  @include mat.theme((
    color: (
      primary: mat.$chartreuse-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

body {
  color-scheme: light;
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
  margin: 0;
  height: 100%;
  touch-action: manipulation;
}

mat-form-field {
  width: 100%;
}

.inner-bottom-sheet-component {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-block: 2rem;
}

p, span, small, label, b, h1, h2, h3, h4, h5, h6, a, button, text {
  user-select: none;
  font-weight: 400;
}


mat-chip {
  &.sm {
    --mat-chip-label-text-size: 0.75rem;
    --mat-chip-container-height: 25px;

    .mdc-evolution-chip__action--primary {
      padding-left: 8px !important;
      padding-right: 8px !important;
    }
  }

  &.mono {
    --mat-chip-label-text-font: var(--bs-font-monospace), serif;
  }

  &.positive {
    --mat-chip-label-text-color: #{ colors.$green };
  }

  &.negative {
    --mat-chip-label-text-color: #{ colors.$red };
  }
}

.danger-button {
  @include mat.button-overrides((
    filled-container-color: #{ colors.$red },
  ));
}

.mat-mdc-input-element::placeholder {
  color: color-mix(in srgb, var(--mat-sys-on-surface) 40%, transparent) !important;
}

.loader-panel {
  --mat-dialog-container-color: transparent;
  --mat-dialog-container-shape: 0;

  .mat-mdc-dialog-surface {
    display: contents;
  }
}

.loader-backdrop {
  @include mixins.overlay-background-blur();
}
