@use '../../styles/colors';

input[type="date"] {
  background-color: colors.$black-04;
  color: colors.$white-00;
  padding: 4px 8px 4px 0;
  border: none;
  border-radius: 0 4px 4px 0;
  font-size: 1rem;
  font-family: var(--bs-font-monospace), serif;
  text-align: start;
  width: 105px;
  height: 32px;

  &:focus, &:active, &:hover {
    border: none;
    outline: none;
  }

  &::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
  }

  &::-moz-calendar-picker-indicator {
    display: none;
  }

  &::-ms-calendar-picker-indicator {
    display: none;
  }
}

.icon-wrapper {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: colors.$black-04;
  border-radius: 4px 0 0 4px;
}

