@use '../../styles/colors';

input[type="date"] {
  background-color: colors.$black-04;
  color: colors.$white-00;
  padding: 4px 8px;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  font-family: var(--bs-font-monospace), serif;
  text-align: center;
  max-width: 120px;

  &:focus, &:active, &:hover {
    border: none;
    outline: none;
  }

  &::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
  }

  &::-moz-calendar-picker-indicator {
    display: none;
  }

  &::-ms-calendar-picker-indicator {
    display: none;
  }
}

